{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/iframe_style.css' %}">
    <script type="text/javascript" src="{% static 'js/iframe.js' %}"></script>
</head>
<body>
    <div class="toolbar">
        <ul class="menu">
            <li><img src="{% static 'image/menu-lines.svg' %}" class="menu_profile"></li>
            <li class="profile">Profile</li>
        </ul>
        <ul id="devices">
            <li class="response active" id="autosize"><img src="{% static 'image/maximize.svg' %}" title="Auto Size"></li>
            <li  class="response" id="tv"><img src="{% static 'image/display.svg' %}" title="HDTV 1080p"></li>
            <li class="response" id="widescreen"><img src="{% static 'image/display1.svg' %}" title="Widescreen"></li>
            <li class="response" id="ipad_screen"><img src="{% static 'image/display2.svg' %}" title="Tablet (e.g. Apple iPad 2-3rd, mini)"></li>
            <li class="response" id="iphone_screen"><img src="{% static 'image/display3.svg' %}" title="Apple iPhone 5"></li>
            <li class="response" id="mobile"><img src="{% static 'image/display4.svg' %}" title="Mobile (e.g. Apple iPhone)"></li>
        </ul>
    </div>
    <div class="" id="content">
        <div id="phantom" class=""></div>
        <div id="wrapper" class="">
            <iframe src="https://ru.inettools.net/app/image/index/8" scrolling="yes" frameborder="0" height="100%" width="100%">
            </iframe>
        </div>
    </div>      
</body>
</html>

</body>
</html>


