{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/profile_style.css' %}">
</head>
<body>
<div class="header">
	<ul class="nav">
		<li class="logo"><a href="#"><img src="{% static 'image/logo.png' %}"</a></li>
		<li><a href="#"" class="profile"> PROFILE</a></li>
		<li><a href="#" class="updates">UPDATES</a></li>
	</ul>
	<div class="user_nav">
		<ul>
			<li class="dropdown_username">
				<a class="user">
					<img class="user_ava" src="{% static 'image/head.svg' %}">
					{{ object.username }}
					<img src="{% static 'image/dropdown-cf3420.svg' %}" class="dropdown_image">
				</a>
				<a>PROFILE</a>
				<a>UPDATES</a>
				<a>PROFILE</a>
			</li>
		</ul>
	</div>
	<a class="buzzer"><img src="{% static 'image/kolokolchik.svg' %}" class="buzzer_img"></a>
	<div class="buzzer_nav">
		<ul>
			<li class="dropdown_buzzer">
				{% for change in three_changes%}
					<a href="{{change.url}}">
					<ul class="link_data">
						<li>{{change.url}}</li>
						<li><img src="{% static 'image/Finish.svg' %}"></li>
						<li>Project</li>
						<li>{{change.publish}}</li>
					</ul>
					</a>
				{% empty %}
					<p>No changes yet</p>
				{% endfor %}
			</li>
		</ul>
	</div>
	<div class="invisibles">
		<div class="invisible1"></div>
		<div class="invisible2"></div>
		<div class="invisible3"></div>
		<div class="invisible4"></div>
	</div>
</div>
<div class="user_data">
	<img class="ava" src="{% static 'image/head.svg' %}">
	<h1 class="username">{{ object.username }}</h1>
	<p class="mail"><a href="mailto:{{user.email}}">{{object.email}}</a></p>
	<p class="joined">Joined on some date</p>
</div>
<div class="projects">
	<p>Projects:</p>
	<ul>
	{% for project in projects%}
		<li><a href="/profile/{{user.id}}/project/{{ project.id }}">{{project.name}}</a></li>
	{%endfor%}
	</ul>
</div>
<div class="last_update">
	<h1>Last Update</h1>
	<ul>
		<li>
			{% for change in five_changes%}
				<a href="{{change.url}}">
				<ul class="updates_data">
					<li>{{change.url}}</li>
					<li><img src="{% static 'image/Finish.svg' %}"></li>
					<li>Project</li>
					<li>{{change.publish}}</li>
				</ul>
				</a>
			{% empty %}
				<p>No changes yet</p>
			{% endfor %}
		</li>
	</ul>
</div>
<div class="footer">
	<p class="copyright">&copy All rights reserved</p>
	<p class="dataroot">dataroot.co</p>
</div>
</body>
</html>

