{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/updates_style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="{% static 'js/process.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
	
</head>
<body>
<div class="wrapper">
	<header>
		<ul class="nav">
			<li><a href="/profile/{{ object.id }}/" class="logo"><img src="{% static 'image/logo.png' %}"></a></li>
			<li><a href="/profile/{{ object.id }}/" class="profile">Profile</a></li>
			<li><a href="/profile/{{ object.id }}/updates/" class="updates">Updates</a></li>
		</ul>
		<nav class="user-nav">
			<div class="dropdown-username">
				<a class="user">
					<ul>
						<li class="user-ava"><img src="{{object.picture}}"></li>
						<li><p>{{ name }}</p></li>
						<li class="dropdown-image"><img src="{% static 'image/dropdown-cf3420.svg' %}"></li>
					</ul>
				</a>
				<a href="/profile/{{ object.id }}/">Profile</a>
				<a href="/profile/{{ object.id }}/updates/">Updates</a>
				<a href="/profile/{{ object.id }}/settings/">Settings</a>
				<a href="/logout">Log out</a>
			</div>
		</nav>
		<nav class="buzzer-nav">
			<a class="buzzer"><img src="{% static 'image/kolokolchik.svg' %}" class="buzzer-img"></a>
			<div class="dropdown-buzzer">
				{% for change in four_changes%}
					<a href="{% url 'iframe' pk=change.pk id=user.id %}">
					<ul class="link-data">
						<li>{{change.name_url}}</li>
						<li><img src="{{ change.process }}"></li>
						<li>{{change.url_project}}</li>
						<li>{{change.publish}}</li>
					</ul>
					</a>
				{% empty %}
					<p>No changes yet</p>
				{% endfor %}
				<a href="/profile/{{ object.id }}/updates/" class="view-all">View all Updates</a>
			</div>
		</nav>
		<div class="invisible"></div>
	</header>
	<div class="content">
		<div class="last-updates">
			<h1>Last Updates</h1>
			<div class="links-list">
				{% for link in all_links %}
					<a href="{% url 'iframe' pk=link.pk id=user.id %}">
						<ul class="updates-data">
							<li>{{link.name_url}}</li>
							<li><img src="{{ link.process }}"></li>
							<li>{{link.url_project}}</li>
							<li>{{link.publish}}</li>
						</ul>
					</a>
				{% empty %}
					<p>No changes yet</p>
				{% endfor %}
			</div>
		</div>
		<div class="adds">
			<h1>Last Updates</h1>
			<div class="process">
				<ul>
					<li class="process_container"><a href="finish_pages/"><img class="finish_source" src="{% static 'image/Finish.svg' %}"></a></li>
					<li class="process_container"><a href="progress_pages/"><img class="progress_source" src="{% static 'image/in_progress.svg' %}"></a></li>
					<li class="process_container"><a href="new_pages/"><img class="progress_in" src="{% static 'image/in_progress.svg' %}"></a></li>
				</ul>
			</div>
			<div class="calendar-block">
				<div id="calendar-container">
					<div id="calendar-header">
						<span id="calendar-month-year"></span>
					</div>
					<div id="calendar-dates"></div>
				</div>
			</div>
		</div>
		<div class="pagination">
			<ul class="pages">
			{% if all_links.has_previous %}
				<li class="previous"><a href="?page={{all_links.previous_page_number}}"><img class='arrow-left' src="{% static 'image/left-arrow.svg' %}"></a></li>
			{% else %}
				<li class="previous_disabled"><a href=""></a></li>
			{% endif %}
			{% for page in all_links.paginator.page_range %}
				{% if page == all_links.number %}
				<li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
				{% else %}
				<li class="response"><a href="?page={{ page }}">{{ page }}</a></li>
				{% endif %}
			{% endfor %}
			{% if all_links.has_next %}
				<li class="next"><a href="?page={{all_links.next_page_number}}"><img class='arrow-right' src="{% static 'image/arrow-pointing-to-right.svg' %}"></li>
			{% else %}
				<li class="next_disabled"><a href=""></a></li>
			{% endif %}
			</ul>
		</div>
	</div>
	<footer>
		<p class="copyright">&copy All rights reserved</p>
		<a href="https://dataroot.co/" class="dataroot">dataroot.co</a>
	</footer>
</div>
</body>
</html>


