<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
</head>
<body>
	<div class ="columns">
		<form action="/login/" method="post">
		{% csrf_token %}
		<label for="username">Username</label><br>
		<input type="text" name="username" id="username"><br>
		<label for="password">Password</label><br>
		<input type="password" name="password" id="password"><br>
		<input class="button" type="submit" value="Login"><br>
		{% if login_error %}
		<label class="error"> {{ login_error }}</label>
		{% endif %}
		</form>
	</div>
</body>
</html>
