* {
    margin: 0;
    padding: 0;

}
.toolbar {
    font-size: 12px;
    height: 50px;
    background-color: #232d38;
    z-index: 100;
    line-height: 54px;
    margin-bottom: 1px;
    width: 100%;
    padding: 0;
    display: block;
    position: relative;
    top: 0;
}

.toolbar li {
    position: relative;
    display: inline-block;
    float: left;
    height: 50px;
    white-space: nowrap;
    text-align: center;
    border-right: 1px solid #0e1216;
    cursor: pointer;
}

.menu {
    display: block;
    position: relative;
}

.menu li {
    width: 70px;
    cursor: pointer;
}

.menu li:hover , #devices li:hover {
    background: #0f161d;
}

.menu_profile {
    width: 25px;
    height: auto;
    margin-left: 20px;
    margin-top: 20%;

}

#content {
    height: 100%;
    width: 100%;
}

#wrapper, #phantom {
    position: relative;
    overflow: visible;
    margin: 25px auto;
    height: 100%;
    width: 100%;
    min-width: 320px;
}

#content {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    overflow: auto;
}

#phantom {
    background-color: currentColor;
    position: absolute;
    opacity: .05;
    z-index: -1;
    left: 50%;
    box-shadow: 2px 0 10px rgba(0,0,0,.2);
}

.profile {
    width: 100px !important;
    color: #fff;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.preview_actions {
    float: right;
}

a img {
	margin: 10px;
	width: 125px;
	height: auto;
	margin-left: 50px;
}

#responsivator {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5%;
}

#devices li img {
    width: 26px;
    height: auto;
    opacity: 1;
    margin: 0 10px;
    margin-top: 25%;
}

.responsive-block {
    display: block !important;
	width: 240px;
	border-left: 1px solid #cfd8dc;
	position: relative;
	top: -76px;
	left: 40%;
	height: 56px;
	border-right: 1px solid #cfd8dc;
	padding-right: 10px;
}

.response {
    display: inline-block !important;
}

.active {
	background: #0f161d;
}

.autosize {
    width: 100%;
    height: 100%;
}

.tv {
    width: 1920px !important;
    height: 1080px !important;
    overflow: auto !important;
}

.widescreen {
    width: 1280px !important;
    height: 800px !important;
}


.ipad_screen {
    width: 768px !important;
    height: 1024px !important;
}

.iphone_screen {
    width: 320px !important;
    height: 568px !important;
}

.mobile {
    width: 320px !important;
    height: 480px !important;
}

.hover_in {
    background: green !important;
} 
