* {
    margin: 0;
    padding: 0;

}
.toolbar {
    font-size: 12px;
    height: 50px;
    background-color: #232d38;
    z-index: 100;
    line-height: 54px;
    margin-bottom: 1px;
    width: 100%;
    padding: 0;
    display: block;
    position: relative;
    top: 0;
}

.toolbar li {
    position: relative;
    display: inline-block;
    float: left;
    height: 50px;
    white-space: nowrap;
    text-align: center;
    border-right: 1px solid #0e1216;
    cursor: pointer;
}

.sidebar {
    background: #232d38;
    height: 100%;
    width: 357px;
    display: block;
    float: left;
    position: fixed;
    z-index: 100;
    overflow: hidden;
    left: -397px;
    transition: left 0.2s ease-out 0.1s;
    top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.asidebar {
    left: 0;
}

.sidebar li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: block;
    width: 100%;
}

.sidebar li:first-child {
    border-bottom: none;
    position: relative;
    top: 40px;
    display: block;
    width: 33px;
    height: 6px;
    left: 30px;
    margin-bottom: 55px;
}

.out {
    display: block;
    position: absolute;
    right: 18px;
    top: 25%;
    height: 30px;
    width: 30px;
    text-align: center;
}

.sidebar li:hover {
    opacity: 0.5;
}


.close {
    width: 27px;
    height: auto;
    cursor: pointer;
}


.close_out {
    width: 26px;
    height: auto;
    cursor: pointer;
    margin: 0px;
}

.link_out {
    width: 100%;
    height: 100%;
    display: block;
}

.sidebar li a {
    color: #fff;
    opacity: 0.9;
    cursor: pointer;
    letter-spacing: 0.1px;
    padding-left: 4px;
    font-size: 16px;
    font-weight: 500;
    display: block;
    width: 290px;
    height: 31px;
    position: relative;
    top: 8%;
    border-bottom: 1px solid rgba(255,255,255,.1);
    margin: 0px auto;
    padding-top: 13px;
    font-family: Verdana;
}

a {
    text-decoration: none;
    color: #fff;
}

a:vizited {
    color: #fff;
}

.loading {
    position: absolute;
    display: inline-block;
    right: 50px;
    width: 19px;
    height: 19px;
}

.sidebar li img {
    cursor: pointer;
    margin-top: -30px;
} 

.sidebar ul {
    margin-top: -30px; 
}

.menu {
    box-sizing: border-box;
}

.menu li {
    width: 67px;
}

.profile {
    cursor: pointer;
}

#devices li:hover {
    background: #0f161d;
}

.menu_profile {
    width: 25px;
    height: auto;
    margin-left: 0px;
    margin-top: 23%;
}

.size {
    height: 50px;
    width: 160px;
    position: absolute;
    top: 0;
    left: 41%;
    color: #fff;
    border-right: 1px solid #0e1216;
}

.size_value {
    text-align: center;
    font-size: 14px;
    line-height: 50px;
}

#content {
    height: 100%;
    width: 100%;
    overflow: visible;
}

#wrapper, #phantom {
    position: relative;
    overflow: visible;
    margin: 70px auto 85px;
    min-width: 320px;
    box-sizing: border-box;
}

.phantom_view {
    position: absolute;
    width: 100%;
    height: 100%;
}

#content {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    overflow: auto;
}

.iframe_back {
    width: 98%;
    height: 98%;
    position: absolute;
    top: 0;
}

#e {
    top: 0;
    right: -20px;
    width: 20px;
    height: 100%; 
}

#e, #s, #l, #t {
    display: block;
    position: absolute;
    background-color: #6d6e71; 
}

#l {
    height: 100%;
    width: 20px;
    left: -20px;
}

#t {
    width: calc(100% + 40px);
    height: 20px;
    top: -20px;
    margin-left: -20px;
}

#e::before {
    top: 50%;
    left: 100%;
    width: 5px;
    height: 30px;
    margin: -12px 0 0 -12px;
    content: '';
    background-color: white;
    display: block;
    position: absolute;
    cursor: e-resize;
    border-radius: 3px;
}

.autosize > b {
    display: none !important;
}

#s {
    bottom: -20px;
    left: 0;
    width: calc(100% + 40px);
    height: 20px;
    margin-left: -20px;
}


#s::before {
    top: 100%;
    left: 50%;
    width: 30px;
    height: 5px;
    margin: -12px 0 0 -12px;
    content: '';
    background-color: white;
    display: block;
    position: absolute;
    cursor: s-resize;
    border-radius: 3px;
}

#se {
    bottom: -13px;
    height: 17px;
    width: 17px;
    border-style: none solid solid none;
    border-width: 0 5px 5px 0;
    border-color: white;
    right: -13px;
    cursor: se-resize;
    position: absolute;
    display: block;
    border-radius: 2px;
}

#phantom {
    background-color: currentColor;
    opacity: .05;
    z-index: 0;
}

.profile, .updates {
    width: 100px !important;
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin: auto;
    line-height: 48px;
    font-family: Verdana;
}

.preview_actions {
    float: right;
}

#widescreen_img {
    width: 35px !important;
    margin: 0 5px !important;
    margin-top: 20% !important;
}

a img {
    margin: 8px;
    width: 125px;
    height: auto;
    margin-left: 50px;
}

#tv_img {
    width: 25px !important;
    margin-top: 25% !important;
}

#devices li img {
    width: 21px;
    height: auto;
    opacity: 1;
    margin: 0 10px;
    margin-top: 32%;
}

.responsive-block {
    display: block;
    width: 240px;
    border-left: 1px solid #cfd8dc;
    position: relative;
    top: -76px;
    left: 40%;
    height: 56px;
    border-right: 1px solid #cfd8dc;
    padding-right: 10px;
}

.response {
    display: inline-block;
}

.active {
    background: #0f161d;
}

.autosize {
    width: 100%;
    height: 100%;
    margin-top: 0 !important;
}

.tv {
    width: 1920px;
    height: 1080px;
    overflow-x: visible;
    margin-bottom: 75px !important; 
}

.tv.portateit {
    width: 1080px;
    height: 1920px;
}

.widescreen {
    width: 1280px;
    height: 800px;
    margin-bottom: 75px !important;
    margin-right: 100px;
}

.widescreen.portateit {
    width: 800px;
    height: 1280px;
}

.ipad_screen {
    width: 768px;
    height: 1024px;
    margin-bottom: 100px !important; 
}

.ipad_screen.portateit {
    width: 1024px;
    height: 738px;
}

.iphone_screen {
    width: 320px;
    height: 568px;
}

.mobile {
    width: 320px;
    height: 480px;
}

.response.active.hover > img {
    transform: rotate(90deg);
    margin-top: 10%;
}

.portateitIn > img {
    transform: rotate(90deg);
    margin-top: 10%;
}

.response.active.portateitIn.hover:hover > img {
    transform: rotate(0deg) !important;
    margin-top: 10%;
}

