* {
    margin: 0;
    padding: 0;

}
.toolbar {
    font-size: 12px;
    height: 50px;
    background-color: #232d38;
    z-index: 100;
    line-height: 54px;
    margin-bottom: 1px;
    width: 100%;
    padding: 0;
    display: block;
    position: relative;
    top: 0;
}

.toolbar li {
    position: relative;
    display: inline-block;
    float: left;
    height: 50px;
    white-space: nowrap;
    text-align: center;
    border-right: 1px solid #0e1216;
    cursor: pointer;
}

.sidebar {
    background: #232d38;
    height: 100%;
    width: 259px;
    display: block;
    float: left;
    padding: 20px;
    position: fixed;
    z-index: 100;
    overflow: hidden;
    left: -299px;
    transition: left 0.6s ease-out 0.3s;  
    top: 0;
}

.asidebar {
    left: 0;
}

.sidebar li {
    list-style-type: none;
    margin: 0px 10px;
    border-bottom: 1px solid rgba(255,255,255,.1);
    padding: 12px 0px; 
}

.sidebar li:first-child {
    border-bottom: none;
}

.out {
    display: block;
    position: absolute;
    right: 18px;
    top: 10%;
    height: 50px;
    width: 75px;
}

.close_out {
    width: 23px;
    height: auto;
    cursor: pointer;
}

.sidebar li a {
    color: #fff;
    opacity: 0.9;
    cursor: pointer;
    letter-spacing: 0.1px;
    padding-left: 4px; 
    font-size: 15px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #fff;
}

a:vizited {
    color: #fff;
}

.loading {
    position: absolute;
    display: inline-block;
    right: 40px;
    background-image: url(/static/image/in_progress.svg);
    width: 15px;
    height: 15px;
}

.sidebar li img {
    cursor: pointer;
    margin-top: 10px;
} 

.sidebar ul {
    margin-top: -25px; 
}

.menu {
    box-sizing: border-box;
}

.menu li {
    width: 67px;
}

.profile {
    cursor: pointer;
}

#devices li:hover {
    background: #0f161d;
}

.menu_profile {
    width: 25px;
    height: auto;
    margin-left: 0px;
    margin-top: 23%;
}

.size {
    height: 50px;
    width: 150px;
    position: absolute;
    top: 0;
    left: 41%;
    color: #fff;
    border-right: 1px solid #0e1216;
}

.size_value {
    text-align: center;
}

#content {
    height: 100%;
    width: 100%;
    overflow: visible;
}

#wrapper, #phantom {
    position: relative;
    overflow: visible;
    margin: 25px auto 40px;
    min-width: 320px;
    box-sizing: border-box;
}

.phantom_view {
    position: absolute;
    width: 100%;
    height: 100%;
}

#content {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    overflow: auto;
}

.iframe_back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#e {
    top: 0;
    right: -20px;
    width: 20px;
    height: 100%; 
}

#e, #s, #se {
    display: block;
    position: absolute;
    opacity: .2;
}

#e:before {
    top: 50%;
    left: 100%;
    width: 6px;
    height: 24px;
    margin: -12px 0 0 -6px;
    content: '';
    background-color: currentColor;
    display: block;
    position: absolute;
    cursor: e-resize;
}

.autosize > b {
    display: none !important;
}

#s {
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 20px;
}


#s:before {
    top: 100%;
    left: 50%;
    width: 24px;
    height: 6px;
    margin: -6px 0 0 -12px;
    content: '';
    background-color: currentColor;
    display: block;
    position: absolute;
    cursor: s-resize;
}

#se {
    bottom: -20px;
    height: 20px;
    width: 20px;
    border-style: none solid solid none;
    border-width: 0 6px 6px 0;
    border-color: currentColor;
    right: -20px;
    cursor: se-resize;
}

#phantom {
    background-color: currentColor;
    opacity: .05;
    z-index: 0;
}

.profile, .updates {
    width: 100px !important;
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin: auto;
    line-height: 48px;
    font-family: Verdana;
}

.preview_actions {
    float: right;
}

#ipad_screen_img {
    width: 22px !important;
    margin-top: 22% !important;
    height: auto !important;
}

#widescreen_img {
    width: 32px !important;
    margin: 0 5px !important;
    margin-top: 25% !important;
}

a img {
	margin: 10px;
	width: 125px;
	height: auto;
	margin-left: 50px;
}

#responsivator {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5%;
}

#devices li img {
    width: 23px;
    height: auto;
    opacity: 1;
    margin: 0 10px;
    margin-top: 32%;
}

.responsive-block {
    display: block;
	width: 240px;
	border-left: 1px solid #cfd8dc;
	position: relative;
	top: -76px;
	left: 40%;
	height: 56px;
	border-right: 1px solid #cfd8dc;
	padding-right: 10px;
}

.response {
    display: inline-block;
}

.active {
	background: #0f161d;
}

.autosize {
    width: 100%;
    height: 100%;
    margin-top: 0 !important;
}

.tv {
    width: 1920px;
    height: 1080px;
    overflow-x: visible;
    margin-bottom: 75px !important; 
}

.tv.portateit {
    width: 1080px;
    height: 1920px;
}

.widescreen {
    width: 1280px;
    height: 800px;
    margin-bottom: 75px !important;
    margin-right: 100px;
}

.widescreen.portateit {
    width: 800px;
    height: 1280px;
}

.ipad_screen {
    width: 768px;
    height: 1024px;
    margin-bottom: 100px !important; 
}

.ipad_screen.portateit {
    width: 1024px;
    height: 738px;
}

.iphone_screen {
    width: 320px;
    height: 568px;
}

.mobile {
    width: 320px;
    height: 480px;
}

.iphone_screen.portateit {
    width: 568px;
    height: 320px;
}

.mobile.portateit {
    width: 480px;
    height: 320px;
}

.hover_in {
    transform: rotate(90deg);
}

.hover_li {
    transform: rotate(90deg);
    margin-top: 10%;
} 
 

