body {
  	background: #D4D8E1;
}

a {
	outline: none;
}

/******* HEADER *******/


header { 
	background: #232D38;
	height: 50px;
	margin: 0px;
	position: relative;
	width: 100%;
}

.nav li {
	border-right: 1px solid #000;
	float: left;
}

.profile, .updates {
	color:  #EEEEEE;
	display: block;
	line-height: 50px;
	padding: 0px 24px;
	text-decoration: none;
	transition: all .3s ease-in-out;
	text-transform: uppercase;
}

.profile, .updates:active {
	background: #DC870C;
}

.logo img {
	display: block;
	height: 36px;
	padding: 7px 22px 7px 28px;
	width: 125px;
}

.user-nav {
	color: #FBFBFB;
	position: absolute;
	width: 168px;
	right: 106px;
	z-index: 10;
	background: #232D38;
}

.user-nav ul li a:not(.user) {
	border-bottom: 1px solid #A5A7A9;
	cursor: pointer;
	display: block;
	position: relative;
	height: 27px;
	line-height: 7px;
	margin-bottom: 23px;
	margin-left: 24px;
	text-align: center;
	width: 123px;
}

.user {
	cursor: pointer;
	display: block;
	height: 50px;
	text-align: center;
	width: 123px;
	padding-top: 18px;
	padding-left: 33px; 
}

.user-ava {
	top: 12px;
	left: 12px;
	display: block;
	position: absolute;
	border-radius: 50%;
	background: #DADEE7;
	height: 26px;
	width: 26px;
}

.dropdown-image {
	width: 10px;
	height: 9px;
	transition: all .3s ease-in;
}

.dropdown-username {
	width: 168px;
	height: 50px;
	overflow: hidden;
	transition: all .3s ease-in-out;
}

.dropdown-username:hover {
	height: 218px;
	background: #0F161D;
}

.buzzer-nav {
	float: right;
	position: absolute;
	height: 50px;
	width: 106px;
	z-index: 9;
	overflow: hidden;
	right: 0px;
	transition: all .3s ease-in-out;
}

.buzzer-nav:hover {
	width: 692px;
	height: 315px;
	background: #0F161D;
}

.buzzer {
	width: 50px;
	cursor: pointer;
	height: 50px;
	display: block;
	position: absolute;
	right: 56px;
	z-index: 9;
}

.buzzer-img {
	margin: 14px 12px;
}

.buzzer-nav ul li a {
	border-bottom: 1px solid #A5A7A9;
	color: #FBFBFB;
	display: block;
	position: relative;
	text-decoration: none;
	height: 50px;
	line-height: 7px;
	cursor: pointer;
	margin-left: 24px;
}

.dropdown-buzzer {
	margin-top: 97px;
	overflow: hidden;
}

.link-data {
	height: 28px;
	width: 204px;
	cursor: pointer;
}

.link-data li {
	position: absolute;
	display: block;
}

.link-data li:nth-child(1) {
	top: 23px;
}

.link-data li:nth-child(2) {
	left: 204px;
	bottom: 17px;
}

.link-data li:nth-child(3) {
	left: 252px;
	bottom: 21px;
}

.link-data li:nth-child(4) {
	right: 51px;
	bottom: 21px;
}

.invisible-1, .invisible-2{
	z-index: 100;
	background: #232D38;
	position: absolute;
}

.invisible-1 {
	height: 50px;
	width: 56px;
	right: 0px;

}

.invisible-2 {
	height: 50px;
	width: 418px;
	right: 274px;
}


/*******CONTENT*******/

.content {
	height: 1000px;
	position: relative;
	background: #fff;
	margin: 133px 170px 0px 118px;
	border-radius: 9px;
}

.project-block {
	width: 240px;
	margin-left: 45px;
	position: relative;
	top: -36px;
}

.project-photo {
	width: 240px;
	height: 250px;
}

.project-name {
	width: 240px;
	height: 56px;
	border-bottom: 1px solid #E3E3E3;
	line-height: 56px;
	position: relative;
	text-indent: 24px;	
}

.count {
	float: right;
	font-size: 12px;
	color: #455A5B;
}

.project-data {
	position: relative;
	left: 26px;
	margin-right: 47px;
	float: left;
	line-height: 49px;
}

.creating-date {
	width: 240px;
	position: inherit;
	top: 38px;
	color: #C1C3C4;
	text-align: center;
}

.link-list {
	height: 100%;
	width: calc(100% - 363px);
	position: absolute;
	margin-right: 28px;
	top: 0px;
	right: 0px;
}

.link-list h1 {
	position: absolute;
	color: #000;
	border-bottom: 1px solid #231F20;
	padding-left: 7px;
	padding-right: 3px;
	top: 73px;
	height: 35px;
}

.link-list ul li a {
	border-bottom: 1px solid #A5A7A9;
	color: #231F20;
	display: block;
	position: relative;
	text-decoration: none;
	height: 56px;
	cursor: pointer;
}

.link-list ul {
	padding-top: 123px;
	overflow: hidden;
}

.link-data li {
	position: absolute;
	display: block;
}

.link-data li:nth-child(1) {
	top: 21px;
	left: 7px;
}

.link-data li:nth-child(2) {
	top: 21px;
	left: 275px;
}

.link-data li:nth-child(3) {
	top: 21px;
	left: 1070px;
	color: #D1D3D4
}







/*******FOOTER*******/


.for-footer {
	min-height: calc(100vh - 530px);
}

footer {
	height: 50px;
	width: 100%;
	background: #303A44;
}

.copyright {
	padding: 18px 18px 18px 75px;
	color: #ECECEC;
}

.dataroot {
    float: right;
    color: #ECECEC;
    margin-top: -53px;
    margin-right: 50px;
    padding-top: 18px;
}