@font-face {
	font-family: Interstate;
	src: url(fonts/Interstate.ttf);
}

@font-face {
	font-family: PTsans;
	src: url(fonts/PTsans.ttf);
}

@font-face {
	font-family: Interstate-Regular;
	src: url(fonts/Interstate-Regular.ttf);
}

html, body {
	height: 100%;
	background: #D4D8E1;
	font-family: Interstate-Regular, Interstate, PTsans, Arial;
}

.wrapper {
	min-height: 100%;
	position: relative;
}

.content {
	padding-bottom: 200px;
}

a {
	outline: none;
}


/******* HEADER *******/


header { 
	background: #232D38;
	height: 50px;
	margin: 0px;
	position: relative;
	width: 100%;
}

.nav li {
	border-right: 1.5px solid #000;
	float: left;
}

.profile, .updates {
	color:  #EEEEEE;
	display: block;
	line-height: 50px;
	padding: 0px 24px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	width: 75px;
	text-align: center;
}

.updates:hover {
	background: #DC870C;
	color: #fff;
}

.profile {
	background: #DC870C;
	color: #fff;
}

.logo img {
	display: block;
	height: 36px;
	padding: 7px 22px 7px 28px;
	width: 125px;
}

.user-nav {
	color: #FBFBFB;
	position: absolute;
	width: 168px;
	right: 50px;
	z-index: 10;
	background: #232D38;
}

.user {
	cursor: pointer;
	display: block;
	height: 50px;
	text-align: center;
	position: relative;
}

.user ul li {
	float: left;
	display: block;
	position: relative;
}

.user-ava {
	width: 38px;
	height: 50px;
}

.user-ava img {
	top: 12px;
	left: 12px;
	display: block;
	position: absolute;
	border-radius: 50%;
	background: #DADEE7;
	height: 26px;
	width: 26px;
}

.user p {
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	margin-left: 10px;
	max-width: 101px;
}

.dropdown-image {
	width: 29px;
	height: 50px;
}

.dropdown-image img {
	position: absolute;
	width: 9px;
	height: 9px;
	left: 10px;
	top: 20.5px;
}

.dropdown-username {
	width: 168px;
	height: 50px;
	overflow: hidden;
}

.dropdown-username a:not(.user) {
	border-bottom: 1px solid #A5A7A9;
	font-size: 12px;
	cursor: pointer;
	display: block;
	position: relative;
	height: 49px;
	line-height: 49px;
	margin-left: 24px;
	text-align: center;
	width: 123px;
	text-decoration: none;
	color: #EEEEEE;
	text-transform: uppercase;
}

.dropdown-username:hover {
	height: 265px;
	background: #0F161D;
}

.user-nav a:not(.user):hover {
	background: #333333;
	color: #fff;
}

.buzzer-nav {
	float: right;
	position: absolute;
	height: 50px;
	width: 50px;
	z-index: 9;
	font-size: 14px;
	overflow: hidden;
	right: 0px;
}

.buzzer-nav:hover {
	width: 692px;
	height: 310px;
	background: #0F161D;
}

.buzzer-nav a:not(.buzzer):hover {
	background: #333333;
	color: #fff;
}

.buzzer-nav a:not(.buzzer):hover .link-data li:nth-child(1) {
	left: 25px;
}

.buzzer {
	width: 50px;
	cursor: pointer;
	height: 50px;
	display: block;
	position: absolute;
	right: 0px;
	z-index: 9;
}

.buzzer-img {
	margin: 14px 12px;
}

.dropdown-buzzer {
	margin-top: 75px;
}

.dropdown-buzzer a:not(.view-all) {
	width: 644px;
	border-bottom: 1px solid #A5A7A9;
	color: #FBFBFB;
	display: block;
	position: relative;
	text-decoration: none;
	height: 49px;
	line-height: 48px;
	cursor: pointer;
	margin-left: 24px;
	margin-right: 24px;
}

.view-all {
	width: 644px;
	color: #FBFBFB;
	display: block;
	text-decoration: none;
	height: 35px;
	line-height: 35px;
	cursor: pointer;
	margin-left: 24px;
	margin-right: 24px;
	text-align: center;
	font-size: 16px;
}

.link-data {
	height: 28px;
	width: 204px;
	cursor: pointer;
}

.link-data li {
	position: absolute;
	display: block;
}

.link-data li:nth-child(1) {
	left: 10px;
}

.link-data li:nth-child(2) {
	left: 204px;
}

.link-data li:nth-child(3) {
	left: 262px;
}

.link-data li:nth-child(4) {
	right: 10px;
}

.invisible {
	height: 50px;
	width: 474px;
	right: 218px;
	z-index: 100;
	background: #232D38;
	position: absolute;
}


/*******USER DATA********/


.user-data {
	position: relative;
	background: #FFFFFF;
	height: 150px;
	width: 100%;
	z-index: 1;
}

.ava {
	height: 112px;
	width: 124.5px;
	position: absolute;
	top: 12.5px;
	left: 175px;
	background: #DADEE7;
	cursor: pointer;
}

.avata {
	height: 100%;
	width: 100%;
}

.username {
	height: 30px;
	width: 135px;
	top: 25px;
	left: 330px;
	position: inherit;
	line-height: 30px;
	font-weight: bold;
	color:#000;
	text-transform: uppercase;
}

.mail {
	height: 25px;
	width: 200px;
	top: 30px;
	left: 330px;
	position: inherit;
	line-height: 25px;	
	font-size: 14px;
}

.mail a {
	text-decoration: none;
	color: #000;
}

.joined {
	position: inherit;
	left: 330px;
	top: 55px;
	width: 200px;
	font-size: 14px;
}


/*******PROJECTS*******/


.projects {
	height: 500px;
	width: 100%;
}

.projects h1 {
	position: absolute;
	left: 176px;
	top: 228px;
	color: #000;
	border-bottom: 1px solid #231F20;
	padding-left: 2px;
	height: 26px;
	padding-right: 24px;
	font-size: 26px;
	font-weight: normal;
}

.project-block {
	height: 356px;
	width: 240px;
	background: #FFFFFF;
	float: left;
	position: relative;
	top: 104px;
	left: 176px;
	margin-right: 40px;
}

.project-link {
	display: block;
	width: 238px;
	height: 248px;
	overflow: hidden;
	border: 1px solid #FCFCFC;
}

.project-photo {
	display: block;
	width: 238px;
	height: 275px;
	position: relative;
	transform: translate3d(0,-27px,0);
}


.project-photo,
.project-link::before,
.project-link::after {
	transition: opacity 0.35s, transform 0.35s;
}

.project-link:hover .project-photo {
	opacity: 0.7;
	transform: translate3d(0,0,0);
}

.project-link::before,
.project-link::after {
	position: absolute;
	content: "";
	opacity: 0;
	pointer-events: none;
	z-index: 100;
}

.project-link::before {
	top: 37px;
	right: 19px;
	bottom: 143px;
	left: 19px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	transform: scale(0,1);
	transform-origin: 0 0;
}

.project-link::after {
	top: 27px;
	right: 29px;
	bottom: 133px;
	left: 29px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	transform: scale(1,0);
	transform-origin: 100% 0;
}

.project-link:hover::after,
.project-link:hover::before {
	opacity: 1;
	transform: scale(1);
}

.project-link:hover::after {
	transition-delay: 0.15s;
}

.project-name {
	width: 240px;
	height: 56px;
	border-bottom: 1px solid #E5E5E5;
	line-height: 56px;
	position: relative;
	text-indent: 24px;	
	font-size: 26px;
}

.project-name a {
	color: #000;
	text-decoration: none;
}

.point {
	background: #2C9521;
	height: 7px;
	width: 7px;
	border-radius: 50%;
	position: absolute;
	top: 24px;
	right: 28px;
}

.count {
	float: right;
	font-size: 12px;
	color: #455A5B;
}

.project-data {
	position: relative;
	left: 26px;
	margin-right: 47px;
	float: left;
	line-height: 49px;
}


/*******UPDATES*******/


.last-update {
	height: 410px;
	margin: 0px 176px 0px 176px;
	background: #FFFFFF;
	position: relative;
	border-radius: 4px;
}

.last-update h1 {
	position: absolute;
	color: #000;
	border-bottom: 1px solid #231F20;
	padding-left: 2px;
	padding-right: 24px;
	left: 66px;
	top: 54px;
	height: 24px;
	font-size: 26px;
	font-weight: normal;
}

.links-list a {
	border-bottom: 1px solid #A5A7A9;
	color: #231F20;
	display: block;
	position: relative;
	text-decoration: none;
	height: 49px;
	line-height: 49px;
	cursor: pointer;
	margin-left: 66px;
	margin-right: 64px;
	font-size: 18px;
}

.links-list a:hover {
	background: #ddd;
}

.links-list a:hover .updates-data li:nth-child(1) {
	left: 25px;
}

.links-list {
	padding-top: 104px;
	overflow: hidden;
}

.updates-data li {
	position: absolute;
	display: block;
}

.updates-data li:nth-child(1) {
	left: 10px;
}

.updates-data li:nth-child(2) {
	left: 270px;
}

.updates-data li:nth-child(3) {
	left: 500px;
	color: #414042;
}

.updates-data li:nth-child(4) {
	right: 10px;
	color: #D1D3D4;
}


/*******FOOTER*******/


footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 50px;
	width: 100%;
	background: #303A44;
}

.copyright {
	padding-top: 25px;
	padding-left: 75px;
	color: #ECECEC;
	font-size: 16px;
}

.dataroot {
    float: right;
    color: #ECECEC;
    padding-right: 50px;
    text-decoration: none;
}

