/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background: #D4D8E1;
}

a {
	outline: none;
}


/******* HEADER *******/


.header { 
	background: #232D38;
	height: 50px;
	margin: 0px;
	position: relative;
	width: 100%;
}


.nav li {
	border-right: 1px solid #000;
	float: left;
}

.profile, .updates {
	color:  #EEEEEE;
	display: block;
	line-height: 50px;
	padding: 0px 24px;
	text-decoration: none;
}

.logo img {
	display: block;
	height: 36px;
	padding: 7px 22px 7px 28px;
	width: 125px;
}

.user_nav {
	color: #FBFBFB;
	position: absolute;
	width: 168px;
	right: 117px;
	z-index: 10;
}

.user_nav ul li a:not(.user) {
	border-bottom: 1px solid #A5A7A9;
	cursor: pointer;
	display: block;
	position: relative;
	height: 27px;
	line-height: 7px;
	margin-bottom: 23px;
	margin-left: 24px;
	text-align: center;
	width: 123px;
}

.user {
	cursor: pointer;
	display: block;
	height: 50px;
	text-align: center;
	width: 123px;
	padding-top: 18px;
	padding-left: 33px; 
}

.user_ava {
	top: 12px;
	left: 12px;
	display: block;
	position: absolute;
	border-radius: 50%;
	height: 26px;
	width: 26px;
}

.dropdown_image {
	width: 10px;
	height: 9px;
	transition: all .3s ease-in;
}

.dropdown_username {
	width: 168px;
	height: 50px;
	overflow: hidden;
	transition: all .3s ease-in-out;
}

.dropdown_username:hover {
	height: 218px;
	background: #0F161D;
}

.dropdown_username:hover .dropdown_image {
	transform: rotate(180deg);
}

.buzzer_nav {
	float: right;
	position: relative;
	height: 24px;
	width: 26px;
	z-index: 9;
	overflow: hidden;
	top: 14px;
	right: 68px;
}

.buzzer_nav:hover {
	width: 692px;
	height: 315px;
	right: 0px;
	top: 0px;
	background: radial-gradient(circle at 88.45% 8.25%, rgba(255,255,255,0.005) 1.3%, rgba(100,100,100,1) 1.7% ,rgba(15, 22 ,29, 1) 2.5%);
}

.buzzer {
	width: 26px;
	height: 24px;
	display: block;
	position: absolute;
	top: 14px;
	right: 68px;
	z-index: 9;
}

.buzzer_nav ul li a {
	border-bottom: 1px solid #A5A7A9;
	color: #FBFBFB;
	display: block;
	position: relative;
	text-decoration: none;
	height: 50px;
	line-height: 7px;
	cursor: pointer;
	margin-left: 24px;
}

.dropdown_buzzer {
	margin-top: 97px;
	overflow: hidden;
}

.link_data {
	height: 28px;
	width: 204px;
	cursor: pointer;
}

.link_data li {
	position: absolute;
	display: block;
}

.link_data li:nth-child(1) {
	top: 23px;
}

.link_data li:nth-child(2) {
	left: 204px;
	bottom: 17px;
}

.link_data li:nth-child(3) {
	left: 252px;
	bottom: 21px;
}

.link_data li:nth-child(4) {
	right: 51px;
	bottom: 21px;
}

.invisible1, .invisible2, .invisible3, .invisible4 {
	z-index: 100;
	background: #000;
	opacity: 0;
	position: absolute;
}

.invisible1 {
	height: 38px;
	width: 68px;
	right: 0px;

}

.invisible2 {
	height: 50px;
	width: 406px;
	right: 286px;
}

.invisible3 {
	height: 38px;
	width: 23px;
	right: 94px;
}

.invisible4 {
	height: 14px;
	width: 26px;
	right: 68px;
}


/*******USER DATA********/


.user_data {
	position: relative;
	background: #FFFFFF;
	height: 150px;
	width: 100%;
	z-index: 1;
}

.ava {
	height: 112px;
	width: 125px;
	position: absolute;
	top: 12.5px;
	left: 176px;
}

.username {
	height: 30px;
	width: 135px;
	top: 25px;
	left: 330px;
	position: inherit;
	text-align: center;
	line-height: 30px;
	background: #232D38;
	color:#FBFBFB;
}

.mail {
	height: 25px;
	width: 200px;
	top: 40px;
	left: 330px;
	position: inherit;	
}

.mail a {
	text-decoration: none;
	color: #000;
}

.joined {
	position: inherit;
	left: 330px;
	top: 55px;
	width: 200px;
}


/*******PROJECTS*******/


.projects {
	height: 500px;
	width: 100%;
}

.projects h1 {
	position: absolute;
	left: 176px;
	top: 228px;
	color: #000;
	border-bottom: 1px solid #231F20;
	padding-left: 2px;
	height: 26px;
	padding-right: 24px;
}

.project_block {
	height: 356px;
	width: 240px;
	background: #FFFFFF;
	float: left;
	position: relative;
	top: 104px;
	left: 176px;
	margin-right: 40px;
}

.project_ava {
	display: block;
	width: 240px;
	height: 250px; 
}

.project_name {
	width: 240px;
	height: 56px;
	border-bottom: 1px solid #E5E5E5;
	line-height: 56px;
	text-indent: 24px;	
}

.count {
	float: right;
	font-size: 12px;
	color: #455A5B;
}

.project_data {
	position: relative;
	left: 26px;
	margin-right: 47px;
	float: left;
	line-height: 49px;
}


/*******UPDATES*******/


.last_update {
	height: 450px;
	margin: 0px 176px 200px 176px;
	background: #FFFFFF;
	position: relative;
}

.last_update h1 {
	position: absolute;
	color: #000;
	border-bottom: 1px solid #231F20;
	padding-left: 2px;
	padding-right: 24px;
	left: 130px;
	top: 54px;
	height: 24px;
}

.last_update ul li a {
	border-bottom: 1px solid #A5A7A9;
	color: #231F20;
	display: block;
	position: relative;
	text-decoration: none;
	height: 50px;
	line-height: 7px;
	cursor: pointer;
	margin-left: 66px;
	margin-right: 64px;
}

.last_update ul {
	padding-top: 104px;
	overflow: hidden;
}

.updates_data {
	height: 28px;
	width: 204px;
	cursor: pointer;
}

.updates_data li {
	position: absolute;
	display: block;
}

.updates_data li:nth-child(1) {
	top: 23px;
}

.updates_data li:nth-child(2) {
	left: 270px;
	bottom: 17px;
}

.updates_data li:nth-child(3) {
	left: 500px;
	bottom: 21px;
	color: #414042;
}

.updates_data li:nth-child(4) {
	right: 8px;
	bottom: 21px;
	color: #D1D3D4;
}


/*******FOOTER*******/


.footer {
	height: 50px;
	width: 100%;
	background: #303A44;
}

.copyright {
	padding: 18px 18px 18px 75px;
	color: #ECECEC;
}

.dataroot {
    float: right;
    color: #ECECEC;
    margin-top: -53px;
    margin-right: 50px;
    padding-top: 18px;
}
