@font-face {
	font-family: Interstate;
	src: url(fonts/Interstate.ttf);
}

@font-face {
	font-family: PTsans;
	src: url(fonts/PTsans.ttf);
}

@font-face {
	font-family: Interstate-Regular;
	src: url(fonts/Interstate-Regular.ttf);
}

html, body {
	height: 100%;
	background: #D4D8E1;
	font-family: Interstate-Regular, Interstate, PTsans, Arial;
}

.wrapper {
	min-height: 100%;
	position: relative;
}

.content {
	padding-bottom: 200px;
}

a {
	outline: none;
}


/******* HEADER *******/


header { 
	background: #232D38;
	height: 50px;
	margin: 0px;
	position: relative;
	width: 100%;
}

.nav li {
	border-right: 1.5px solid #000;
	float: left;
}

.profile, .updates {
	color:  #EEEEEE;
	display: block;
	line-height: 50px;
	padding: 0px 24px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	width: 75px;
	text-align: center;
}

.profile:hover {
	background: #DC870C;
	color: #fff;
}

.updates {
	background: #DC870C;
	color: #fff;
}

.logo img {
	display: block;
	height: 36px;
	padding: 7px 22px 7px 28px;
	width: 125px;
}

.user-nav {
	color: #FBFBFB;
	position: absolute;
	width: 168px;
	right: 50px;
	z-index: 10;
	background: #232D38;
}

.user {
	cursor: pointer;
	display: block;
	height: 50px;
	text-align: center;
	position: relative;
}

.user ul li {
	float: left;
	display: block;
	position: relative;
}

.user-ava {
	width: 38px;
	height: 50px;
}

.user-ava img {
	top: 12px;
	left: 12px;
	display: block;
	position: absolute;
	border-radius: 50%;
	background: #DADEE7;
	height: 26px;
	width: 26px;
}

.user p {
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	margin-left: 10px;
	max-width: 101px;
}

.dropdown-image {
	width: 29px;
	height: 50px;
}

.dropdown-image img {
	position: absolute;
	width: 9px;
	height: 9px;
	left: 10px;
	top: 20.5px;
}

.dropdown-username {
	width: 168px;
	height: 50px;
	overflow: hidden;
}

.dropdown-username a:not(.user) {
	border-bottom: 1px solid #A5A7A9;
	font-size: 12px;
	cursor: pointer;
	display: block;
	position: relative;
	height: 49px;
	line-height: 49px;
	margin-left: 24px;
	text-align: center;
	width: 123px;
	text-decoration: none;
	color: #EEEEEE;
	text-transform: uppercase;
}

.dropdown-username:hover {
	height: 265px;
	background: #0F161D;
}

.user-nav a:not(.user):hover {
	background: #333333;
	color: #fff;
}

.buzzer-nav {
	float: right;
	position: absolute;
	height: 50px;
	width: 50px;
	z-index: 9;
	font-size: 14px;
	overflow: hidden;
	right: 0px;
}

.buzzer-nav:hover {
	width: 692px;
	height: 310px;
	background: #0F161D;
}

.buzzer-nav a:not(.buzzer):hover {
	background: #333333;
	color: #fff;
}

.buzzer-nav a:not(.buzzer):hover .link-data li:nth-child(1) {
	left: 25px;
}

.buzzer {
	width: 50px;
	cursor: pointer;
	height: 50px;
	display: block;
	position: absolute;
	right: 0px;
	z-index: 9;
}

.buzzer-img {
	margin: 14px 12px;
}

.dropdown-buzzer {
	margin-top: 75px;
}

.dropdown-buzzer a:not(.view-all) {
	width: 644px;
	border-bottom: 1px solid #A5A7A9;
	color: #FBFBFB;
	display: block;
	position: relative;
	text-decoration: none;
	height: 49px;
	line-height: 49px;
	cursor: pointer;
	margin-left: 24px;
	margin-right: 24px;
}

.view-all {
	width: 644px;
	color: #FBFBFB;
	display: block;
	text-decoration: none;
	height: 35px;
	line-height: 35px;
	cursor: pointer;
	margin-left: 24px;
	margin-right: 24px;
	text-align: center;
	font-size: 16px;
}

.link-data {
	height: 28px;
	width: 204px;
	cursor: pointer;
}

.link-data li {
	position: absolute;
	display: block;
}

.link-data li:nth-child(1) {
	left: 10px;
}

.link-data li:nth-child(2) {
	left: 204px;
}

.link-data li:nth-child(3) {
	left: 262px;
}

.link-data li:nth-child(4) {
	right: 10px;
}

.invisible {
	height: 50px;
	width: 474px;
	right: 218px;
	z-index: 100;
	background: #232D38;
	position: absolute;
}


/*******UPDATES*******/


.last-updates {
	display: inline-block;
	width: 67%;
	position: relative;
	height: 910px;
	background: #fff;
	left: 9%;
	top: 75px;
	border-radius: 6px;
}

.last-updates h1 {
	position: absolute;
	color: #000;
	border-bottom: 1px solid #231F20;
	padding-left: 4px;
	padding-right: 4px;
	left: 66px;
	top: 54px;
	height: 24px;
	font-size: 26px;
	font-weight: normal;
}

.links-list {
	position: relative;
	top: 104px;
	overflow: hidden;
}

.links-list a {
	border-bottom: 1px solid #A5A7A9;
	color: #231F20;
	display: block;
	position: relative;
	text-decoration: none;
	height: 49px;
	line-height: 49px;
	cursor: pointer;
	margin-left: 65px;
	margin-right: 65px;
	font-size: 18px;
}

.links-list a:hover {
	background: #ddd;
}

.links-list a:hover .updates-data li:nth-child(1) {
	left: 25px;
}

.updates-data li {
	position: absolute;
	display: block;
}

.updates-data li:nth-child(1) {
	left: 10px;
}

.updates-data li:nth-child(2) {
	left: 270px;
}

.updates-data li:nth-child(3) {
	left: 500px;
	color: #414042;
}

.updates-data li:nth-child(4) {
	right: 10px;
	color: #D1D3D4;
}

.adds {
	height: 910px;
	width: 16%;
	float: right;
	top: 75px;
	right: 7.3%;
	position: relative;	
	background: #fff;
	border-radius: 6px;
}

.adds h1 {
    position: absolute;
    color: #000;
    border-bottom: 1px solid #231F20;
    padding-left: 4px;
    padding-right: 4px;
    left: 31px;
    top: 53px;
    height: 24px;
    font-size: 22px;
    font-weight: normal;
}

.calendar-block {
	position: relative;
	text-align: center;
	top: 180px;
	width: 100%;
	background: #F1F2F2;
	height: 300px;
	z-index: 100;
	font-size: 16px;
}

#calendar-container {
	outline: 3px solid #A6A8AB;
	position: relative;
	top: 45px;
	left: 10%;
	width: 80%;
}

#calendar-header {
	height: 35px;
	line-height: 35px;
}

#calendar-dates>table>tr>td{
    width: 35px;
    height: 25px;
    line-height: 25px;
    outline: 1.5px solid #A6A8AB;
}


/*******FOOTER*******/


footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 50px;
	width: 100%;
	background: #303A44;
}

.copyright {
	padding-top: 25px;
	padding-left: 75px;
	color: #ECECEC;
	font-size: 16px;
}

.dataroot {
    float: right;
    color: #ECECEC;
    padding-right: 50px;
    text-decoration: none;
}

